/* https://www.bootdey.com/snippets/view/facebook-messenger-chat#html */

body {
    font-family: "Audiowide", sans-serif;
}

.chat h6 {
    font-size: 20px;
}

.chat-body .answer.left {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
}

.chat-body .answer {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    clear: both;
}

.chat-body .answer.left .avatar {
    left: 0;
}

.chat-body .answer .avatar {
    bottom: 36px;
}

.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}

.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}

.chat-body .answer .name {
    font-size: 14px;
    line-height: 36px;
}

.chat-body .answer.left .avatar .status {
    right: 4px;
}

.chat-body .answer .avatar .status {
    bottom: 0;
}

.chat-body .answer.left .text {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}

.chat-body .answer .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    /* position: relative; */
}

.chat-body .answer.left .time {
    padding-left: 12px;
    color: #333333;
}

.chat-body .answer .time {
    font-size: 16px;
    line-height: 36px;
    /* position: relative; */
    padding-bottom: 1px;
}

.chat-body .answer.right {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}

.chat-body .answer.right .avatar {
    right: 0;
}

.chat-body .answer.right .avatar .status {
    left: 4px;
}

.chat-body .answer.right .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}

.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}

.chat-body .answer.right .time {
    padding-right: 12px;
    color: #333333;
}

.answer-add {
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #46be8a;
}

.answer-add input {
    border: none;
    background: none;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    color: #ffffff;
}